/* Единый стиль кнопок */
.button {
  background-color: #ffffff; /* Белый фон */
  color: #6d28d9; /* Фиолетовый текст */
  padding: 0.75rem 1.5rem; /* Отступы */
  border: none; /* Без границ */
  border-radius: 9999px; /* Закругленные края */
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 1rem; /* Размер текста */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px; /* Расстояние между кнопками */
}

.button:hover {
  background-color: #d8b4fe; /* Светло-фиолетовый фон на ховере */
  transform: scale(1.05); /* Легкое увеличение */
}

.button-rozr {
  background-color: #ffffff; /* Белый фон */
  color: #6d28d9; /* Фиолетовый текст */
  padding: 0.75rem 1.5rem; /* Отступы */
  border: none; /* Без границ */
  border-radius: 9999px; /* Закругленные края */
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 1rem; /* Размер текста */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px; /* Расстояние между кнопками */
}

.button-rozr:hover {
  background-color: #d8b4fe; /* Светло-фиолетовый фон на ховере */
  transform: scale(1.05); /* Легкое увеличение */
}

.label-style {
  /* display: block; */
  margin-bottom: 5px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

/* Стили для кнопки в таблице выбора материалов */
.select-menu {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #6d28d9;
  border: 2px solid #6d28d9;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.select-menu:hover {
  background-color: #d8b4fe;
  transform: scale(1.05); /* Легкий фиолетовый оттенок */
}

.select-menu-mat {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #6d28d9;
  border: 2px solid #6d28d9;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.select-menu-mat:hover {
  background-color: #d8b4fe;
  transform: scale(1.05); /* Легкий фиолетовый оттенок */
}

.input-style {
  background-color: #ffffff;
  color: #6d28d9;
  padding: 0.75rem 1.5rem;
  border: 2px solid #6d28d9; /* Добавляем границу */
  border-radius: 9999px; /* Закругленные края */
  font-size: 1rem;
  width: 100%; /* Растягиваем на 100% */
  max-width: 300px; /* Ограничиваем ширину */
  box-sizing: border-box; /* Учитываем padding */
  margin-bottom: 1rem; /* Отступ между элементами */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.input-style:focus {
  outline: none; /* Убираем стандартное выделение */
  box-shadow: 0 0 10px rgba(109, 40, 217, 0.5); /* Тень при фокусе */
}

.input-style:hover {
  background-color: #f3e8ff; /* Легкий фиолетовый оттенок */
  transform: scale(1.05); /* Увеличение при наведении */
}

.reset-button {
  background-color: #ffffff;
  color: #e53e3e; /* Красный цвет для визуального различия */
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #fc8181;
}
