/* Полный фон для страницы загрузки */
.upload-page {
  width: 100vw; /* Полная ширина */
  min-height: 100vh; /* Полная высота */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/rabochii-stol-minimalizm.jpg'); /* Путь к фону */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

/* Основной контейнер для загрузки файла */
.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стиль для метки с именем файла */
.file-name {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Стиль для кнопки выбора файла */
.file-input {
  display: none; /* Скрыть стандартную кнопку загрузки */
}

.file-upload-container label {
  background-color: #ffffff;
  color: #6d28d9;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.file-upload-container label:hover {
  background-color: #d8b4fe;
}

/* Стиль для кнопки сброса */
.reset-button {
  background-color: #ffffff;
  color: #e53e3e; /* Красный цвет для визуального различия */
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #fc8181;
}
