table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%; /* Настройка ширины */
  margin: 20px auto; /* Центрирование */
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #eef;
  color: #333;
}

.points-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.points-table th,
.points-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.points-table th {
  background-color: #f4f4f4;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
